@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background: transparent;
    color: #0be897;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Helper Classes  */

.side-margin-12px i{
      margin: 0 12px;
}

.side-margin-4px i{
      margin: 0 4px;
}

.trans-bg{
      background: transparent !important;
}

.font-mid{
      font-weight: 900;
      font-size: 1.2rem;
}

.big-img{
      height: 230px;
      width: 230px;
}

.small-img{
      height: 50px;
      width: 50px;
}

.sml-txt{
      font-size: 12px;
}

.heading-text{
      margin-left: 2%;
      font-size: 2rem;
      margin-bottom: 3%;
      margin-top: 2%;
}

a{
      text-decoration: none;
}

.inline-block{
      display: inline-block;
}

.inline{
      display: inline;
}

.right{
      float: right;
}


/* Additional Helpers */

::-webkit-scrollbar{
      display: none;
}

:root{
      --text-color: white;
}

header {
      background: rgb(8, 8, 43);
}

.navbar{
      background: rgb(8, 8, 43);
      backdrop-filter: blur(5px);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
      padding: 10px 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      width: 100%;
}

#navbar{
      background: transparent;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
}

@media (max-width: 800px) {
      #navbar{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 0px;
      margin: 0px;
      width: 80%;
      }
      .navbar {
      background-color: rgba(255, 255, 255, 0.25);
      backdrop-filter: blur(8px);
      border: 2px solid rgba(0, 0, 0, 0.4);
      border-radius: 7px;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
      padding: 10px 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 80%;
      }
}

.navbar-left {
      background: transparent;
      display: flex;
      align-items: center;
}

.navbar-left ul {
      background: transparent;
      list-style: none;
      padding: 0;
      display: flex;
}

li {
      white-space: nowrap;
}

.navbar-left li {
      background: transparent;
      margin: 0 15px;
}

.navbar-left a, span, .icons {
      background: transparent;
      text-decoration: none;
      color: #0be897;
      position: relative;
      transition: color 0.3s ease;
}

.navbar-left a:hover, span:hover, .icons:hover {
      background: transparent;
      color: #0be897;
}

.navbar-left a::after, .icons::after {
      background: transparent;
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #0be897;
      opacity: 0;
      transition: opacity 0.4s, transform 0.3s;
      transform: scaleX(0);
}

.navbar-left a:hover::after, i:hover::after {
      background: transparent;
      opacity: 1;
      transform: scaleX(1);
}

button{
      color: rgba(0, 0, 0, 0.0);
      background-color: rgba(0, 0, 0, 0.0);
}

.search-container button {
      background: transparent;
      float: right;
      padding: 6px 10px;
      margin-top: 1px;
      margin-right: 16px;
      font-size: 20px;
      border: none;
      cursor: pointer;
}

.search-container form {
      background: black;
      position: relative;
      transition: all 1s;
      width: 300px;
      height: 50px;
      box-sizing: border-box;
      border-radius: 25px;
      border: 4px solid #0be897;
      padding: 5px;
}

.search-bar {
      background: transparent;
      position: absolute;
      top: 0;
      left: 0;
      width: 210px;
      height: 100%;
      line-height: 30px;
      outline: 0;
      border: 0;
      display: block;
      font-size: 1em;
      border-radius: 20px;
      padding: 0 20px;
}

.search-icon{
      background: transparent;
      box-sizing: border-box;
      padding: 10px;
      width: 42.5px;
      height: 42.5px;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 50%;
      color: #04825B;
      text-align: center;
      font-size: 1.2em; 
}

.search-container form:hover input{
      background: black;
      display: block;
}

.search-container form:hover .fa{
      background: black;
      color: #0be897;
}

.navbar-right {
      background: transparent;
      display: flex;
      align-items: center;
}

.button {
      background: transparent;
      background-color: #0be897;
      border: none;
      color: black;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 4px;
      transition-duration: 0.4s;
      cursor: pointer;
      border-radius: 15px;
      transition: all 0.3s ease, color 0.3s ease;
}

.button:hover {
      background-color: #04825B; 
      color: white;
      transform: scale(1.05);
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.grid-container {
      display: grid;
      grid-template-columns: auto auto auto;
      padding: 10px;
}

.grid-item {
      position: relative;
      padding: 20px;
      font-size: 30px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
}

.grid-item:hover {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.13);
}

.grid-item img {
      width: 60px;
      height: 60px;
      margin-right: 10px;
} 

#search-results {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
      gap: 20px; 
      margin: 20px; 
  }
  
#search-results ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
}

#search-results li {
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
}

#search-results li:hover {
      transform: scale(1.05);
}

/* main  */
main{
      background: transparent;
      width: 100%;
      margin-top: 0%;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      transition: all ease-in-out 1s;
}

/* Main Banner Section  */

.aside {
      display: inline-block;
      overflow: hidden;
}

.section-1 {
      background-color: rgb(17, 13, 60);
      width: 70%;
      height: 81vh;
      overflow: scroll;
      overflow-x: hidden;
}

.section-2{
      background-color: rgb(14, 14, 81);
      width: 28%;
      height: 81vh;
      overflow: scroll;
}

/* PlayList Section  */

.playlist{
      margin-top: 3%;
}

.playlist-content {
      width: 100%;
      height: 15vh;
      display: flex;
      flex-direction: column;
      cursor: pointer;
}

@media screen and (max-height:500px){
      .playlist-content{

      height: 25vh;
      }
}

.playlist-content i:hover{
      transform: scale(1.5);
}

.content-left {
      display: flex;
      height: 100%;
      width: 70%;
      flex-direction: row;
      flex-wrap: no-wrap;
      justify-content: space-between;
      align-items: center;
}

.content-right {
      position: relative;
      bottom: 60%;
      left: 85%;
      width: min-content;
      height: 20px;
      font-size: 20px;
}

.playlist-item {
      width: 90%;
      height: auto;
      padding: 0px 1%;
      box-sizing: border-box;
      margin: 1%;
      transition: all ease-in-out 0.1s;
}

.playlist-name {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
      margin-top: 2%;
      margin-left: 2%;
}

.play-button {
      margin-left: 2%;
      padding: 7px 9px;
      font-weight: bold;
      font-size: 16px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      border: 2px solid #0be897;
      border-radius: 6px;
      background-color: #0be897;
      color: white;
      transition: background-color 0.3s, color 0.3s;
}

.play-button:hover {
      background-color: #04825B;
      color: #fff;
}

.lejnev {
      width: 270px;
}

.menusong {
      width: 100%;
      height: 492px;
      margin-top: 40px;
      overflow: auto;
}

.menusong::-webkit-scrollbar {
      display: none;
}

.menusong li {
      list-style-type: none;
      position: relative;
      padding: 5px 0px 5px 20px;
      display: flex;
      align-items: center;
      margin-bottom: 2px;
      cursor: pointer;
      transition: .3s linear;
}      

.menusong li:hover {
      background: rgb(105, 105, 105, 0.1);
}

.menusong li span {
      font-size: 22px;
      font-weight: 600;
      color: #4c5262;
}  

.menusong li img {
      width: 60px;
      height: 60px;
      margin-left: 25px;
}

.menusong li h5 {
      font-size: 22px;
      margin-left: 15px;
      width: 270px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
}

.menusong li h5 .subtitle {
      font-size: 18px;
      color: #04825B;
}

.menusong li p {
      width: 170px;
      font-size: 20px;
      margin-left: 30px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
}

.heartList {
      margin-left: 60px;
      font-size: 20px;
      width: 60px;
}

.idotartam {
      width: 60px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
}

.more {
      position: absolute;
      font-size: 20px;
      right: 20px;
}

/* Footer */

footer {
      background-color: rgb(16, 16, 71);
      width: 100%;
      height: 12vh;
      position: fixed;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      bottom: 0;
}

.footer-img img {
      width: 60px;
      height: 60px;
}

.play-song-info {
      width: 25%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; 
      padding: 10px;
}

.con-left {
      display: flex;
      height: 100%;
      width: 70%;
      flex-direction: row;
      flex-wrap: no-wrap;
      justify-content: space-between;
      align-items: center;
}

.con-right {
      display: flex;
      left: 90%;
      width: min-content;
      color: white;
      align-items: center;
      font-size: 20px;
}

.con-right i {
      background: transparent;
}

/* Player Controls */

.player {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: nowrap;
      padding: 10px;
}

.player-contorls {
      width: 40%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: 20px;
}

.player-contorls div,
i {
      background: transparent;
}
.buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
}
.active{
      color: black;
}
      
.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track,
.playpause-track {
      margin-top: 19px;
      padding-left: 17px;
      padding-right: 17px;
      opacity: 0.8;
      transition: opacity .2s;
      color: #04AA6D;
      cursor: pointer;
      font-size: 25px;
}
      
.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
      opacity: 2.0;
}

.slider_container {
      display: flex;
      justify-content: center;
      align-items: center;
}
      
.seek_slider, .volume_slider {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      height: 4px;
      background: #04AA6D;
      -webkit-transition: .2s;
      transition: opacity .2s;
}
      
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 15px;
      height: 15px;
      background: white;
      border: 3px solid #04825B;
      cursor: grab;
      border-radius: 100%;
}
      
.seek_slider:hover,
.volume_slider:hover {
      opacity: 1.0;
}
      
.seek_slider {
      width: 450px;
      margin-bottom: 10px;
}
      
.volume_slider {
      width: 100px;
}
      
.current-time,
.total-duration {
      padding: 10px;
      margin-bottom: 13px;
}
      
i.fa-volume-down,
i.fa-volume-up {
      padding: 10px;
}

/* Extras */

.extras{
      width: 20%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
}

.extras div, i{
      background: transparent;
}
  