@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700italic,700,900italic,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);

*{
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: 'Lato', sans-serif;
}

#generic_price_table {
    background-color: #282c34;
    color: #fff;
    padding: 20px;
    height: 100vh;
}

.generic_content {
    background-color: #1a1a1a;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.generic_head_price {
    background-color: #2e2e2e;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.generic_head_price .head span {
    color: #0be897;
    font-weight: 700;
}

.generic_price_tag .price {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    color: #0be897;
}

.generic_feature_list ul,
.generic_feature_list ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.generic_feature_list ul li,
.generic_feature_list ol li {
    font-size: 18px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.generic_feature_list ul li span,
.generic_feature_list ol li span {
    color: #0be897;
}

.generic_feature_list ul li:hover,
.generic_feature_list ol li:hover {
    background-color: #2e2e2e;
}

.generic_price_btn a {
    text-align: center;
    background-color: #0be897;
    color: #fff;
    border: 1px solid #0be897;
    border-radius: 50px;
    padding: 12px 19px;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.3s;
    margin: 0 auto;
    display: block;
    max-width: 150px;
}

.generic_price_btn a:hover {
    background-color: #04825B;
    color: white;
}

.price-heading {
    margin-top: 40px;
}

.price-heading h1 {
    color: #0be897;
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    padding: 0 0 20px;
}

